/* Position and sizing of burger button */
/* .accordion-container{
  margin-top: 1000px;
  padding: 100px;
  border:2px solid black;
} */

.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 26px;
    left: 1.1rem;
    top: 1.2rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #f0a088;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #f0a088;
    padding: 2em 0.5em 0;
    font-size: 1.7em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item {
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  .bm-item:hover {
    color: #ffffff;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(215, 95, 39, 0.3);
  }
  @media only screen and (min-width: 768px) {
    .bm-burger-button{
        display: none;
    }
  }

  
  /* h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;
  } */
  
  .accordion {
    max-width: 600px;
    /* margin: 2rem auto; */
  }
  
  .accordion-title {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* cursor: pointer; */
    /* background-color: #21aeca; */
  }
  
  /* .accordion-title:hover {
    background-color: #3ab4cc;
  } */
  
  /* .accordion-title,
  .accordion-content {
    padding: 1rem;
  } */
  
  .accordion-content {
    font-size: 22px;
    line-height: 25px;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }